

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: black;
 
  }
  /* .heading{
    position: sticky;
  } */
  header{
    position: fixed;
    z-index: 3;
    background: #031321;
    padding: 20px;
    width: 100%;
    height: 30px;
  }
  
  .left_area h3{
    position: absolute;
    top: -1rem;
    left: 6rem;
    color: #66c366;
    font-family: 'Syne';
    font-size: 2.1rem;
  }

  
  .logout_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
    border-radius: 16%;
  }
  
  .logout_btn:hover{
    background: #0B87A6;
  }
  
  .sidebar {
    background: rgb(47, 50, 58, 1);
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    align-items: center;
    left: -190px;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    z-index: 5;
  }
  
  .sidebar .profile_image{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-position: center;
    background-color: rgb(47, 50, 58, 1);
    
  }
  .sidebar img{
    width: 70px;
    height: 70px;
  
    margin-bottom: 10px;
  }
  .sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 5rem;

  }
  
  .sidebar h4 span{
    color: rgb(47, 50, 58, 1);
    
  }
  

  .sidebar a{
    color: #fff;
    display: block;
    /* width: 100%; */
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    left: 0px; 
  
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
  }
  
  .sidebar a:hover{
    background: #19B3D3;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: black;
    /* position: fixed; */
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: 0px;
  }
  
.sidebar a span{
    display: none;
    font-size: 1.2rem;
  }
 
  #check:checked ~ .sidebar a span{
    display: inline;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 0px;
    width: 100%;
  }
  
  .maincont .content{
    margin-left: 60px;
  
    height: 5rem;
  }

.maincont .content2{
  margin-left: 60px;

  height: 50rem;
}

/* .maincont .content2 #lg{
  font-family: 'Alegreya SC';
  font-size: 42px;
  color: #0b5e0b;
}
.maincont .content2 #dg{
  font-family: 'Alegreya SC';
  font-size: 42px;
  color: #66c366;
}

.maincont .content2 #wh{
  color: white;
  font-size: 38px;

} */

#check:checked ~ .maincont .content2{
  margin-left: 250px;
}

/* #check:checked ~ .maincont .content2 div{
transform: translateX(250px);} */
/* .maincont .content2 a{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: 4px;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}
.maincont .content2 a:hover{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.1s;
}
.maincont .content2 a span{
  position: absolute;
  display: block;
} */

  #check{
    display: none;
  }

  /* login form */
  
#login-form
{
    display: none;
}

.form-box
{
    width:380px;
	height:480px;
	position:relative;
  line-height: 50px;
	margin:2% auto;
	background:rgb(255, 255, 255, 0.7);
	padding:10px;
    overflow: hidden;
}

.button-box a{
	text-decoration: none;
	text-align: center;
	background:transparent;
	cursor:pointer;

}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}

.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
  font-size: 18px;

}
.check-box
{
	margin: 30px 10px 34px 0;
}
.check-box span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
  font-size: 18px;

}
#login
{
	left:50px;
  
}
#login input
{
	color:white;
	font-size: 18px;
}



/* locator */


.kasargod{
    top: 10rem;
    left: 16rem;
    min-width: 6em;
    position: absolute;
    min-height: 5em;
    background-color: red;
  }
  .kasargod img{
    display: none;
  }
  .kasargod:hover img{
    display: flex;
    position: absolute;
    transform: translateX(35rem) translateY(5rem) scale(2);
  }
  .kasargod:hover {
    z-index: -1;

  }


  .kannur{
    top: 15rem;
    left: 22rem;
    min-width: 3em;
    position: absolute;
    min-height: 5em;
    /* background-color: green; */
  }
  .kannur img{
    display: none;
  }
  .kannur:hover img{
    display: flex;
    position: absolute;
    transform: translateX(35rem) translateY(5rem);
  }
  .kannur:hover {
    z-index: -1;

  }

  .wayanad{
    top: 18.5rem;
    left: 27rem;
    min-width: 4em;
    position: absolute;
    min-height: 3em;
    /* background-color: yellow; */
  }
  .wayanad img{
    display: none;
  }
  .wayanad:hover img{
    display: flex;
    position: absolute;
    /* transform: translateX(35rem) translateY(3rem) scale(1); */
  }
  .wayanad:hover {
    z-index: -1;

  }

  .kozhikode{
    top: 20rem;
    left: 23rem;
    min-width: 4em;
    position: absolute;
    min-height: 3em;
    /* background-color: blue; */
  }
  .kozhikode img{
    display: none;
  }
  .kozhikode:hover img{
    display: flex;
    position: absolute;
    transform: translateX(35rem) translateY(2rem) scale(2);
  }
  .kozhikode:hover {
    z-index: -1;

  }

  .malappuram{
    top: 23rem;
    left: 24.5rem;
    min-width: 8em;
    position: absolute;
    min-height: 3em;
    /* background-color: purple; */
  }
  .malappuram img{
    display: none;
  }
  .malappuram:hover img{
    display: flex;
    position: absolute;
    transform: translateX(35rem) translateY(1rem) scale(2);
  }
  .malappuram:hover {
    z-index: -1;

  }

  .palakkad{
    top: 27rem;
    left: 32rem;
    min-width: 4em;
    position: absolute;
    min-height: 8em;
    /* background-color: brown ; */
  }
  .palakkad img{
    display: none;
  }
  .palakkad:hover img{
    display: flex;
    position: absolute;
    transform: translateX(35rem) translateY(1rem) scale(2);
  }
  .palakkad:hover {
    z-index: -1;

  }

  .thrissur{
    top: 27.5rem;
    left: 28rem;
    min-width: 4em;
    position: absolute;
    min-height: 7em;
    /* background-color: pink ; */
  }
  .thrissur img{
    display: none;
  }
  .thrissur:hover img{
    display: flex;
    position: absolute;
    transform: translateX(35rem) translateY(1rem) scale(2);
  }
  .thrissur:hover {
    z-index: -1;

  }

  .idukki{
    z-index: -1;
    top: 35.5rem;
    left: 36.5rem;
    min-width: 5.5em;
    position: absolute;
    min-height: 7em;
    background-color: magenta ;
  }
  .idukki img{
    display: none;
  }
  .idukki:hover img{
    display: flex;
    position: absolute;
    transform: translateX(35rem) translateY(1rem) scale(2);
  }
  .idukki:hover {
    z-index: -1;

  }

  .ernakulam{
    top: 35.5rem;
    left: 32rem;
    min-width: 4.5em;
    position: absolute;
    min-height: 3.5em;
    /* background-color: mediumaquamarine ; */
  }
  .ernakulam img{
    display: none;
  }
  .ernakulam:hover img{
    display: flex;
    position: absolute;
    transform: translateX(35rem) translateY(1rem) scale(2);
  }
  .ernakulam:hover {
    z-index: -1;

  }

  .kottayam{
    top: 39.5rem;
    left: 32rem;
    min-width: 4.5em;
    position: absolute;
    min-height: 3.5em;
    /* background-color: lightcoral ; */
  }
  .kottayam img{
    display: none;
  }
  .kottayam:hover img{
    display: flex;
    position: absolute;
    transform: translateX(35rem) translateY(1rem) scale(2);
  }
  .kottayam:hover {
    z-index: -1;

  }

  .pathanamthita{
    top: 43.5rem;
    left: 36.5rem;
    min-width: 5.5em;
    position: absolute;
    min-height: 5em;
    /* background-color: tomato ; */
  }
  .pathanamthita img{
    display: none;
  }
  .pathanamthita:hover img{
    display: flex;
    position: absolute;
    transform: translateX(35rem) translateY(1rem) scale(2);
  }
  .pathanamthita:hover {
    z-index: -1;

  }

  .alappuzha{
    top: 43.5rem;
    left: 32.5rem;
    min-width: 3em;
    position: absolute;
    min-height: 6em;
    /* background-color: palevioletred ; */
  }
  .alappuzha img{
    display: none;
  }
  .alappuzha:hover img{
    display: flex;
    position: absolute;
    transform: translateX(35rem) translateY(1rem) scale(2);
  }
  .alappuzha:hover {
    z-index: -1;

  }

  .kollam{
    top: 49.5rem;
    left: 34rem;
    min-width: 6.5em;
    position: absolute;
    min-height: 3em;
    /* background-color: gray ; */
  }
  .kollam img{
    display: none;
  }
  .kollam:hover img{
    display: flex;
    position: absolute;
    transform: translateX(35rem) translateY(1rem) scale(2);
  }
  .kollam:hover {
    z-index: -1;

  }

  .trivandrum{
    top: 53.5rem;
    left: 35.5rem;
    min-width: 6em;
    position: absolute;
    min-height: 3em;
    /* background-color: ivory ; */
  }
  .trivandrum img{
    display: none;
  }
  .trivandrum:hover img{
    display: flex;
    position: absolute;
    transform: translateX(35rem) translateY(1rem) scale(2);
  }
  .trivandrum:hover {
    z-index: -1;

  }